
<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jordankittle.gasprice"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Monthly Fuel Cost</name>

    <description>
        First App 
    </description>

    <author href="http://jordankittle.com/apps/gasprice" email="shwackd@gmail.com">
        Jordan Kittle
    </author>

</widget>